.titulo{
    font-size: 40pt;
    text-align: center;
    font-weight: bold;
}

.texto{
    font-size: 20pt;
    text-align: center;
    
}

.tabela{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
